.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.login {
	display: grid;
	background-color: black;
	height: 100vh;
	place-items: center;
}

.login > img {
	height: 200px;
}

.login > a {
	color: white;
	text-decoration: none;
	padding: 20px;
	border-radius: 99px;
	font-weight: 800;
	background-color: #1db954;
}
